<div class="general modal">
  <i class="fa fa-times"></i>
  <div class="content">
    Message.
  </div>

  <button class='confirm'>Yes</button>
  <button class='cancel'>No</button> 
</div>

<div class="overlay"></div>