<nav class='global'>
  <a href="/">
    <img src="http://www.waywire.com/media/site/YH5PLD0V56XPX2RS/uploads/Waywire_logo_continuem_black_clear.png" class='logo'>
  </a>

  <div class='dropdown-container'>
    <span>
      Logged in as <i class="fa fa-caret-down"></i>
    </span>

    <ul class='dropdown'>
      <li>
        <a href="/admin/service">Back to Waywire Admin</a>
      </li>
      <li>
        <a href="/login/logout">Log out</a>
      </li>      
    </ul>      
  </div>

</nav> 