<ul>
  <li>
    <h3>1. Authentication</h3>
  <p>jessie and elijah were here middleman!</p>
    <code>var baseUrl = http://waywire.com/channelapi/api;</code>
    <p>You need to sign up and obtain api keys from Waywire.</p>
    <p>In the AJAX request, you must set headers like below:</p>
    <pre>
    $.ajax({
      url: baseUrl+'/channels',
      method: 'GET',
      headers: {
        'Accept': 'application/json',
        'Authorization': 'Token token='+[api key]
      }, 
      success: successCallback
    });
    </pre>

    <p>If you are using Backbone or want this header to apply to every request, you can do the following:</p>
    <pre>
    $.ajaxSetup({
      headers: {
        'Accept': 'application/json',
        'Authorization': 'Token token='+[api key]
      }
    });
    </pre>
  </li>
  
  <li>
    <h3>2. Get all channels</h3>
    <pre>
      GET /channels
    </pre>
    
    <p><b>Pagination:</b> Customize results per page:</p>   
    <pre>
      ?per_page=[resultsPerPage]&page=[pageNumber]
    </pre>
    
    <p>
      If page or per_page params is not specified, the default params are <code>?page=1&per_page=20</code>, which means you get the first 20 results.
    </p> 
      
    <p> 
      Result object: 
    </p>
    <pre>
      { channels: Array[20],
        pagination: {
          total: 382,
          page: 1,
          per_page: 20,
          num_pages: 20
      }
    </pre>

    <p>
      To avoid pagination, add <code>?pagination=false</code>. The result will only contain: 
    </p>
    <pre>    { channels: Array[382] }</pre>    
  </li>

  <li>
    <h3>3. Get channels by categories</h3>
    <p>There are two ways. Via channels:</p>
    <pre>
      GET /channels?category=[categoryName]
    </pre>

    <p>
      To get all channels from a group of categories, simply add comma separated category names. For example:
    </p>
    <pre>
      /channels?category=curated,news

    </pre>

     <p>
      To get channels that belong to two categories, add plus separated category names. For example:
    </p>
    <pre>
      /channels?category=curated+news
    </pre>
      
    <p>Get channels from categories:</p>  
    <pre>
      GET /categories?name=[categoryName]
      GET /categories?name=curated,news   
      GET /categories?name=curated+news 
    </pre>        
    <p>
      The same pagination rules apply to <code>/channels</code>. <code>/categories?name=[name]</code> does not have pagination.
    </p>
  </li> 

  <li>
    <h3>4. Search for channel</h3>
    <p>Search by name:</p>
    <pre>
      GET /channels?term=[searchTerm]
    </pre>
    
  </li>       
</ul>
