<h2>Manage Modals</h2>

<form>
  Image 1: <input type="text"><br>
  Image 2: <input type="text"><br>
  Image 3: <input type="text"><br>
  Image 4: <input type="text"><br>
  Image 5: <input type="text"><br>
  Image 6: <input type="text"><br>
</form><br>


<div class="actions">
  <button class='edit'>Edit Images</button>
  <button class='save'>Save Images</button>
</div>
