<h1 class='heading'>Welcome to Channels Manager</h1>
<nav>
  <ul>
    <li>
      <a href="#api" class='channels-api'>
        <i class="fa fa-folder-open"></i> API docs
      </a>
    </li>    
    <li>
      <a href="#new" class='new-channel'>
        <i class="fa fa-plus"></i> Add channel
      </a>
    </li>
    <li>
      <a href="#search" class='search-channels'>
        <i class="fa fa-search"></i> Search
      </a>
    </li>
    <li>
      <a href="#all" class='all-channels'>
        <i class="fa fa-list"></i> All channels
      </a>
    </li>
  </ul>
</nav>
