<h1 class='heading'>Welcome to Channels Manager</h1>
<nav>
  <ul>
    <li class='tools'>
      <a href="">
        <i class="fa fa-cog"></i> Tools
      </a>

      <ul class='dropdown'>
        <li> 
          <a href="#api" class='channels-api'>
            <i class="fa fa-folder-open"></i> API docs
          </a>
        </li>
        <li> 
          <a href="#sort" class='sort-channels'>
            <i class="fa fa-th"></i> Sort chicklets
          </a>
        </li>        
        <li> 
          <a href="" class='curator-video'>
            <i class="fa fa-pencil-square-o"></i> Convert showmaker URL
          </a>
        </li> 
        <li> 
          <a href="#modal-manager" class='modal-manager'>
            <i class="fa fa-pencil-square-o"></i> Manage Modal Images
          </a>
        </li>        
      </ul> <!-- end drop down -->
    </li>
    
    <li>
      <a href="#new" class='new-channel'>
        <i class="fa fa-plus"></i> Add channel
      </a>
    </li>

    <li>
      <a href="#search" class='search-channels'>
        <i class="fa fa-search"></i> Search
      </a>
    </li>

    <li>
      <a href="#all" class='all-channels'>
        <i class="fa fa-list"></i> All channels
      </a>
    </li>
  </ul>
</nav>
