<h2>Sort channels</h2>

<div class="pagination">
</div>

<p>Rearrange the chicklets and click Save below.</p>
<ul class='channel-list'>
</ul>

<img class='loader' src="http://waywire.com/media/site/YH5PLD0V56XPX2RS/uploads/loader1.gif" alt="">

<button class='save'>Save chicklet order</button>

<script type="text/javascript">
  var chickletRouter = new RailsApi.Routers.Chicklets();
</script>