<h2>Sort channels</h2>
<div class="pagination"></div>

<ul class='instruction'> 
  <h4>Instructions:</h4>
  <li>Rearrange the chicklets and click 'Save order'. The new order will not be saved otherwise.</li>
  <li>If you rearrange the chicklets and don't want to save, click 'Refresh order' to restore the original order.</li>
  <li>To move chicklets far up or down the list, click on the <i class='fa fa-minus'></i> to edit the order number. If two chicklet has the same order number, click 'Save order' to re-calculate.</li>
</ul>

<div class="actions">
  <button class='save'>Save order</button>
  <button class='refresh'>Refresh order</button>
</div>

<ul class='channel-list'></ul>

<img class='loader' src="http://waywire.com/media/site/YH5PLD0V56XPX2RS/uploads/loader1.gif" alt="">

<div class="actions">
  <button class='save'>Save order</button>
  <button class='refresh'>Refresh order</button>
</div>

<script type="text/javascript">
  var chickletRouter = new RailsApi.Routers.Chicklets();
</script>