<div class="curator-video modal">
  <i class="fa fa-times"></i>

  <h3>Get curator intro video</h3>
  <form>
    <input type="text" name='showmaker_url' placeholder='Showmaker url'>
    <input type="submit" value='Get video url'>

    <p>Example: http://waywire.com/show/V8U7XD14DM7CDHMHG</p>
  </form>

  <p class='mp4'></p>
</div>
