<div class="curator-video">
  <h3>Get curator intro video</h3>
  <form>
    <input type="text" name='showmaker_url' placeholder='Showmaker url (e.g.: http://waywire.com/show/V8U7XD14DM7CDHMHG)'>
    <input type="submit" value='Get video url'>
  </form>

  <p class='mp4'></p>
</div>
