<div class="welcome">
  <main>

  <img src="http://www.waywire.com/media/site/YH5PLD0V56XPX2RS/uploads/Waywire_logo_continuem_black_clear.png" class='logo'> 

  <nav>
    <ul>
      <li>
        <a href="layouts/channel-manager">
          Channel Manager <i class="fa fa-angle-double-right"></i>
        </a>
      </li>
      <li>
        <a href="">
          Curator Dashboard <i class="fa fa-angle-double-right"></i>
        </a>
      </li>
    </ul>
  </nav>

  </main>
</div>